*.wad
*.bak
*.amxx
.idea
*.xml
BOT/Forward@CPP/forward/msvc10/.vs/
BOT/Forward@CPP/forward/msvc10/Debug/
BOT/addons/amxmodx/data/models/
MapScriptsSmuggler/
BSP/modules/ent_utils/msvc10/.vs/
BSP/modules/ent_utils/msvc10/Debug/
BSP/modules/ExecuteX/msvc10/Debug/
BSP/modules/ExecuteX/msvc10/.vs/
GA/modules/ga/msvc10/.vs/
GA/modules/ga/msvc10/Debug/
PY/env/DLLs/
PY/modules/py/msvc10/.vs/
PY/modules/py/msvc10/Debug/
PY/test/CPPy/Debug/
